<nb-card>
    <nb-card-header *ngIf="!readOnly">{{ 'itemCard.header' | translate }}</nb-card-header>
    <nb-card-body>
        <form [formGroup]="taskForm">
            <div class="form-group">
                <label for="name">{{ 'itemCard.name' | translate }}</label>
                <input nbInput id="name" name="name" placeholder="{{ 'itemCard.phName' | translate }}" formControlName="name" required>
            </div>
            <div class="form-group">
                <label for="duedate">{{ 'itemCard.dueDate' | translate }}</label>
                <input nbInput [nbDatepicker]="datepicker" formControlName="dueDate">
                <nb-date-timepicker #datepicker format="DD-MM-yyyy HH:mm"></nb-date-timepicker>
            </div>
            <div class="form-group">
                <label for="description">{{ 'itemCard.description' | translate }}</label>
                <input nbInput id="description" name="description" placeholder="{{ 'itemCard.phDescription' | translate }}"
                    formControlName="description">
            </div>
            <div class="button-group">
                <button *ngIf="!readOnly" nbButton status="info" (click)="save()">{{ 'itemCard.saveBtn' | translate }}</button>
                <button nbButton status="basic" (click)="close()">{{ 'itemCard.canselBtn' | translate }}</button>
            </div>
        </form>
    </nb-card-body>
</nb-card>