<nb-card>
    <nb-card-header>{{ item.name }}</nb-card-header>
    <nb-card-body>
      <p><strong>Дата создания:</strong> {{ item.createDate }}</p>
      <p><strong>Дата выполнения:</strong> {{ item.dueDate }}</p>
      <p><strong>Описание:</strong> {{ item.description }}</p>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton status="success" class="action-button" (click)="copyItem()">Копировать</button>
      <button nbButton status="danger" class="action-button" (click)="deleteItem()">Удалить</button>
    </nb-card-footer>
  </nb-card>
