<nb-card>
    <nb-card-header>Добавить элемент</nb-card-header>
    <nb-card-body>
        <form [formGroup]="taskForm">
            <div class="form-group">
                <label for="name">Наименование</label>
                <input nbInput id="name" name="name" placeholder="Введите наименование" formControlName="name" required>
            </div>
            <div class="form-group">
                <label for="duedate">Дата выполнения</label>
                <input nbInput [nbDatepicker]="datepicker" formControlName="dueDate">
                <nb-date-timepicker #datepicker format="DD-MM-yyyy HH:mm"></nb-date-timepicker>
            </div>
            <div class="form-group">
                <label for="description">Описание</label>
                <input nbInput id="description" name="description" placeholder="Введите описание"
                formControlName="description">
            </div>
            <div class="button-group">
                <button nbButton status="info" (click)="save()">Сохранить</button>
                <button nbButton status="basic" (click)="close()">Отмена</button>
            </div>
        </form>
    </nb-card-body>
</nb-card>